{%extends 'forum/layout_base_template.html'%}

{%block HeadContent%}
    <title>Board Posts</title>
{%endblock%}

{%block MainContent%}
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>PostDate</th>
                    <th>Replies</th>
                </tr>
            {%for post in board_posts%}
                <tr>
                    <td>
                        <a class="PostLink" href="{%url 'forum:post_detail' post.pk%}">{{post.title}}</a>
                    </td>
                    <td>{{post.creation_date}}</td>
                    <td>{{post.reply_set.count}}</td>
                </tr>
            {%endfor%}
            </table>

        </div>

    </div>
</div>
{%endblock%}

