{%extends 'forum/layout_base_template.html'%}

{%block HeadContent%}
    <title>Board Posts</title>
{%endblock%}

{%block MainContent%}
<div class="container">
    <div class="row mt-1 mb-1">
        <div class="col-sm-8">
            <h5 class="h5">
                <a href="{%url 'forum:homepage'%}">Boards</a>
                /
                {{board.title}}
            </h5>
        </div>

        <div class="col-sm-4 text-right">
            <a class="btn btn-sm btn-secondary" href="{%url 'forum:create_post'%}?board_id={{board.pk}}">Create post</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <table class="table table-striped">
                <tr>
                    <th class="">Post Title</th>
                    <th>Poster</th>
                    <th>Post date</th>
                    <th>Replies</th>
                </tr>
            {%for post in board_posts%}
                <tr>
                    <td class="">
                        <a class="PostLink" href="{%url 'forum:post_detail' post.pk%}">{{post.title}}</a>
                    </td>
                    <td>
                        <a href="{%url 'forum:user_detail' post.creator.pk%}">
                            {{post.creator.username}}
                        </a>

                    </td>
                    <td>
                        {%if post.older_than_one_day %}
                            {{post.creation_date}}
                        {%else %}
                            {{post.creation_date|timesince}} ago
                        {%endif%}
                        
                    </td>
                    <td>{{post.reply_set.count}}</td>
                </tr>
            {%endfor%}
            </table>

        </div>

    </div>
</div>
{%endblock%}

