{%extends 'forum/layout_base_template.html'%}
{%load static%}

{%block HeadContent%}
    <title>New post</title>
{%endblock%}


{%block MainContent%}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="h4">New post</h4>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            <form id="PostForm" class="text-right" action="{%url 'forum:create_post'%}" method="POST">
                {%csrf_token%}
                <select name="post_to_board_id" class="form-control" >
                    {%for board in boards%}
                        <option value="{{board.pk}}" {%if default_post_to == board.pk%} selected {%endif%}>
                            {{board.title}}
                        </option>
                    {%endfor%}
                </select>
                <input id="PostTitleTB" type="text" name="post_title" class="form-control" placeholder="Post title">
                <textarea id="PostContentTA" name="post_content" class="form-control" placeholder="Markdown is supported"></textarea>
                <a class="btn" href="https://daringfireball.net/projects/markdown/syntax">Help</a>
                <button id="PreviewID" class="btn" type="button">Preview</button>
                <button id="PostFormSubmitBTN" type="submit" class="btn">Post</button>
            </form>
        </div>

    </div>
    
    
    <div class="row">
        <div class="col-sm-12">
            <h4 class="h4">Preview</h4>
        </div>
        
    </div>
    
    <div class="row mb-3">
        <div class="col-sm-3 col-md-2 AvatarContainer text-center">
            <img class="AvatarIMG" src="{%static 'forum/images/placeholder_icon.png' %}"/>
            <a class="d-block" href="{%url 'forum:user_detail' user.pk %}">{{user.username}}</a>
        </div>

        <div id="PostBodyContainer" class="col-sm-9 col-md-10">
            <h5 id="PreviewTitleH4" class="h5"></h5>
            <div id="PreviewContentPRE"></div>
        </div>
    </div>
        
</div>
{%endblock%}

{%block PageStyles%}
<style>
    #PostContentTA{
        min-height: 250px;
    }
    
    #PostForm *{
        margin-top: 10px;
    }
</style>

{%endblock%}


{%block PageScripts%}

<script>
    $(function(){
        var preview_title = $('#PreviewTitleH4');
        var preview_content = $('#PreviewContentPRE');
        var post_title = $('#PostTitleTB');
        var post_content = $('#PostContentTA')

        function loadPreviewContent(data){
            preview_content.html(data);
//            preview_content.text(data);
        }
        
        function previewUpdater(){
            preview_title.text(post_title.val());
            
            var data = {
                csrfmiddlewaretoken : "{{csrf_token}}",
                md_text : post_content.val(),
            };
            
            var url = "{%url 'forum:markdown_to_html'%}";
            
            $.post(url, data, loadPreviewContent);
            
        }

        $('#PreviewID').click(previewUpdater);
    });

</script>

{%endblock%}