{%extends 'forum/layout_base_template.html'%}

{%block HeadContent%}
    <title>Deleted posts</title>
{%endblock%}

{%block MainContent%}
<div class="container">
    <div class="row mt-1 mb-1">
        <div class="col-sm-8">
            <h5 class="h5">
                <a href="{%url 'forum:homepage'%}">Boards</a>
                /
                Deleted posts
            </h5>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            {#This fragment uses "post_list" context variable#}
            {%include 'forum/fragments/posts_table.html'%}
        </div>

    </div>
</div>
{%endblock%}

