{%extends 'forum/layout_base_template.html'%}

{%block HeadContent%}
    <title>Edit reply</title>
{%endblock%}


{%block MainContent%}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="h4">Edit reply</h4>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            <form id="ReplyForm" class="text-right" action="{%url 'forum:edit_reply'%}" method="POST">
                {%csrf_token%}
                <input name="reply_id" type="hidden" value="{{reply.pk}}">
                <textarea id="ReplyContentTA" name="reply_content" class="form-control" placeholder="Markdown is supported">{{reply.content}}</textarea>
                <button id="PreviewID" class="btn" type="button">Preview</button>
                <button id="PostFormSubmitBTN" type="submit" class="btn">Save</button>
            </form>
        </div>

    </div>


    <div class="row">
        <div class="col-sm-12">
            <h4 class="h4">Preview</h4>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4 id="PreviewTitleH4" class="h4"></h4>
            <pre id="PreviewContentPRE"></pre>
        </div>

    </div>
</div>
{%endblock%}

{%block PageStyles%}
<style>
    #ReplyContentTA{
        min-height: 250px;
    }

    #ReplyForm *{
        margin-top: 10px;
    }
</style>

{%endblock%}


{%block PageScripts%}

<script>
    $(function(){
        var preview_content = $('#PreviewContentPRE');
        var post_content = $('#ReplyContentTA')

        function previewTitleUpdater(){
            preview_content.text(post_content.val());
        }

        $('#PreviewID').click(previewTitleUpdater);
    });

</script>

{%endblock%}