<!DOCTYPE html>
{%load static%}

{% comment %}
    This template every other templates of this site must extend
    It's main purpose is to include JS libraries, frameworks and global CSS rules
{% endcomment %}

<html lang="en">
<head>
    <meta charset="UTF-8">

    {%block HeadContent%}
        <title>To be replaced </title>
    {%endblock%}

    {# Styles... #}
    <link rel="stylesheet" href="{%static 'forum/bootstrap/css/bootstrap.min.css' %}">

</head>
<body>
    {%block BodyContent%}
        <p id="pp" class="jumbotrom">To be replaced</p>
    {%endblock%}

    {# Scripts... #}
    <script src="{%static 'forum/jquery/jquery-3.2.1.min.js' %}" defer type="text/javascript" ></script>
    <script src="{%static 'forum/bootstrap/js/bootstrap.min.js' %}" defer type="text/javascript" ></script>
</body>
</html>