{%extends 'forum/layout_base_template.html'%}
{%load static%}

{%block MainContent%}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
        <h3 class="h3">Boards</h3>

        <table class="table">
            <tr>
                <th class="fit"></th>
                <th>Board name</th>
                <th>Post count</th>
            </tr>
        {%for board in boards%}
            <tr>
                <td class="fit"><img class='BoardICON' src="{%static 'forum/images/placeholder_icon.png' %}"/></td>
                <td class="align-middle">
                    {{board.title}}
                </td>
                <td>0</td>  {#todo put variable here#}
            </tr>
        {%endfor%}
        </table>

        </div>

    </div>
</div>
{%endblock%}

{%block PageStyles%}
<style>
    .BoardICON{
        max-height: 50px;
        max-width: 50px;
        margin-right: 10px;
    }
    
    .table td.fit, 
    .table th.fit {
        white-space: nowrap;
        width: 1%;
    }

</style>

{%endblock%}