{%extends 'forum/global_base_template.html'%}
{%load static%}

{#
This base template provides a standard layout to all pages
This template decides how the Header, Footer, Sidebar and Body of the
page is positioned and presented.

It also provides default content for Header footer and sidebar
#}

{%block HeadContent%}
    <title>To be replaced</title>
{%endblock%}


{%block BodyContent%}

<div class="container">
    
    <div id="header" class="row">
        {%block HeaderContent%}
            <div class="col-sm-8">
                <h3 class="h3">Site Forum</h3>
            </div>

            <div id="LoginLogoutLinkContainer" class="col-sm-4 text-right">
                {%with user_logged_in=user.is_authenticated %}
                    {%if user_logged_in%}
                        <a id="UserNameT" class="d-inline mr-2 text-small text-right" href="{%url 'forum:user_detail' user.pk%}">{{user.username}}</a>
                    {%endif%}

                    {%if user_logged_in%}
                        <a id="logoutLNK" class="login-logout-btn btn btn-sm btn-outline-danger" role="button" href="{%url 'forum:logout'%}"> Logout </a>
                    {%else%}
                        <a id="loginLNK" class="login-logout-btn btn btn-sm btn-outline-success" role="button" href="{%url 'forum:loginpage'%}"> Login </a>
                    {%endif%}
                {%endwith%}
            </div>
        {%endblock%}

    </div>
    
    <div id="navigation" class="row">
        {%block NavigationContent%}
        <div class="col-sm-12">
            <nav class="nav">
                <a class="nav-link" href="{%url 'forum:homepage'%}">Home</a>
                <a class="nav-link" href="{%url 'forum:about_page'%}">About</a>
                <a class="nav-link" href="/forum">Recent posts</a>
                <a class="nav-link" href="/forum">Profile</a>
                <a class="nav-link" href="/forum"></a>
            </nav>
        </div>

        {%endblock%}
    </div>
    
    
    <div id="main_content" class="row">
        {%block MainContent%}
        <div class="col-sm-12">
            <h1 class="h1"> To be replaced </h1>
        </div>
        {%endblock%}

    </div>
    
    <div class="row">
        <div id="footer" class="col-sm-12">
            {%block FooterContent%}
                <p>Replace footer</p>
            
            {%endblock%}
        </div>
        
        
    </div>
</div>

<style>
/* actual styles of this page*/



p, td, th{
    color: #1C0E0E;
}
     
#header{
    background-color: #F9F4F5;
    min-height: 50px;
}

#header *{
    margin-top: auto;
    margin-bottom: auto;
}
    
#HeaderLOGO{
    width: 500px;
    height: 300px;
}

#navigation{
    background-color: #70587C;
}

#navigation *{
    color: white;
}
    
#navigation a:hover{
    color: white;
    text-decoration: underline;
}
 
#main_content{
    min-height: 500px;
    background-color: #F9F4F5;
}
    
    
#footer{
    color: white;
    background-color: #70587C;
}

#footer *{
    color: #F9F4F5;
}
</style>


{%endblock%}