{%extends 'forum/layout_base_template.html'%}

{%block HeadContent%}
    <title>Login</title>
{%endblock%}

{%block MainContent%}
    <div class="container">
        <div class="row">
        <div class="col-sm-4 offset-sm-4">
            <h1>Login:</h1>
        </div>
        </div>

        <div class="row">
        <div class=" col-sm-4 offset-sm-4">
            {%if print_login_fail_msg%}
                <p id="LoginFailMessage">Login failed</p>
            {%endif%}

            <form action="{%url 'forum:loginpage'%}" method="post">
                {%csrf_token %}
                {#IMPORTANT: name attribute of usernameTB and passwordTB must be set to "username" and "password" respectively, due to django's builtin loginview#}
                <input id="usernameTB" class="form-control" type="text" name="username" placeholder="User name">
                <input id="passwordTB" class="form-control" type="password" name="password" placeholder="Password">
                <button id="loginBTN" class="btn btn-block" type="submit">Login</button>
            </form>

        </div>
        </div>

    </div>
{%endblock%}

{%block PageStyles%}
<style>
    #LoginFailMessage{
        color: red;
    }
</style>
{%endblock%}