{%extends 'forum/layout_base_template.html'%}
{%load static%}


{%block HeadContent%}
    <title>{{post.title}}</title>
{%endblock%}

{%block MainContent%}

<div class="container">

    <div id="PostTitleRow" class="row">
        <div class="col-sm-12">
            <h3 class="h3">{{post.title}}</h3>

        </div>
    </div>

    <div id="PostContentRow" class="row">
        <div class="col-sm-12">
            <div class="container PostContainer">
                <div class="row">
                    <div class="col-sm-3 col-md-2 AvatarContainer text-center">
                        <img class="AvatarIMG" src="{%static 'forum/images/placeholder_icon.png' %}"/>
                        <a class="d-block" href="{%url 'forum:user_detail' post.creator.pk %}">{{post.creator.username}}</a>
                    </div>

                    <div id="PostBodyContainer" class="col-sm-9 col-md-10">
                        <pre>{{post.content}}</pre>
                    </div>
                </div>

            </div>

        </div>
            

    </div>
    
    
    <div class="ReplyContainers row">
    <div class="col-sm-12">
        {%for reply in post.reply_set.all%}
        <div class="ReplyContainer container">
            <div class="row">
                <div class="col-sm-3 col-md-2 AvatarContainer text-center">
                    <img class="AvatarIMG" src="{%static 'forum/images/placeholder_icon.png' %}"/>
                    <a class="d-block" href="{%url 'forum:user_detail' reply.creator.pk %}">{{reply.creator.username}}</a>
                </div>

                <div id="ReplyBodyContainer" class="col-sm-9 col-md-10">
                    <pre>{{reply.content}}</pre>
                </div>
            </div>

        </div>
        {%endfor%}
            
    </div>
    </div>

    {%if user.is_authenticated%}
    <div class="row">
        <div class="col-sm-12">
            <form class="text-right" method="POST" action="{%url 'forum:create_reply'%}">
                {%csrf_token%}
                <textarea id="QuickReplyTA" name="content" class="form-control"></textarea>
                <input hidden name="reply_to_post_pk" value="{{post.pk}}">
                <button type="submit" class="btn">Post</button>
            </form>
        </div>
    </div>
    {%endif%}
</div>
{%endblock%}


{%block PageStyles%}

<style>
.AvatarContainer{
    border-style: solid;
    background-color: #70587C;
}
    
.AvatarContainer *{
    color: white;
}
    
#PostContentRow{
    min-height: 250px;
}

.AvatarIMG{
    height: 80px;
    width:80px;
}
    
.ReplyContainer,
.PostContainer{
    margin-bottom: 20px;
}
    
#QuickReplyTA{
    min-height: 200px;
}


</style>

{%endblock%}