{%extends 'forum/layout_base_template.html'%}

{%block HeadContent%}
    <title>Recent posts</title>
{%endblock%}

{%block MainContent%}
<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-sm-12">
            <h5 class="h5">Recent Posts</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {%include 'forum/fragments/posts_table.html'%}

        </div>

    </div>

    <div id="PaginatorRow" class="row mt-3 mb-3">
        <div class="col-sm-12 text-center">
            {%if post_list.has_previous%}
                <a class="btn" href="{%url 'forum:recent_post_list'%}?page={{post_list.previous_page_number }}">
                    Previous
                </a>
            {%else%}
                <a class="btn btn-disabled" href="#">
                    Previous
                </a>
            {%endif%}

            <span class="current ml-3 mr-3">
                Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}
            </span>

            {%if post_list.has_next%}
                <a class="btn" href="{%url 'forum:recent_post_list'%}?page={{post_list.next_page_number }}">
                    Next
                </a>
            {%else%}
                <a class="btn btn-disabled" href="#">
                    Next
                </a>
            {%endif%}
        </div>
    </div>

</div>

{%endblock%}