{%extends 'forum/layout_base_template.html'%}

{%block HeadContent%}
    <title>Registration</title>
{%endblock%}

{%block MainContent%}

<div class="container">
    {%if form.errors%}
        <div class="row mt-3 mx-3">
            <div id="ErrorMsgDIV" class="col-lg-4 offset-lg-4 col-sm-8 offset-sm-2 ">
                <h4 class="h4 text-center">Registration failed</h4>
                <hr>
                {{form.errors}}
            </div>
        </div>
    {%endif%}

    <div class="row">
        <div class="col-lg-4 offset-lg-4 col-sm-8 offset-sm-2 ">
            <form id="RegistrationForm" action="{%url 'forum:registration_page' %}" method="POST">
                {%csrf_token%}
                <input required class="form-control" name="username" id="UserNameTB" type="text" placeholder="User name" value="{{form.username.value|default_if_none:''}}">
                <input required class="form-control" name="email" id="EmailTB" type="email" placeholder="Email" value="{{form.email.value|default_if_none:''}}">
                <input required class="form-control" name="password" id="PasswordTB" type="password" placeholder="Password" value="{{form.password.value|default_if_none:''}}">
                <input required class="form-control" name="confirm_password" id="ConfirmPasswordTB" type="password" placeholder="Confirm Password" value="{{form.confirm_password.value|default_if_none:''}}">

                <button class="btn btn-block" id="RegisterBTN" type="submit">Register</button>
            </form>

        </div>
    </div>
</div>


{%endblock%}

{%block PageStyles%}
<style>
    #RegistrationForm input{
        margin-bottom: 5px;
    }

    #RegistrationForm {
        margin-top: 20px;
    }

    #ErrorMsgDIV{
        color: darkred;
        font-weight: bold;
        
        border-radius: 5px;

        border-style: solid;
        border-width: thin;
        border-color: darkred;
    }


</style>

{%endblock%}