{#This is a modified version of posts_table for board_posts template, any changes in posts_table fragment should also be made here#}
{# the "Board" column is missing in this version of the fragment #}
<table class="table table-striped">
    <tr>
        <th class="">Post Title</th>
        <th>Author</th>
        <th>Replies</th>
        <th>Date posted</th>
    </tr>

{%for post in post_list%}
    <tr>
        <td class="">
            <a class="PostLink" href="{%url 'forum:post_detail' post.pk%}">{{post.title}}</a>
        </td>
        <td>
            <a href="{%url 'forum:user_detail' post.creator.user.pk%}">
                {{post.creator.user.username}}
            </a>

        </td>
        <td>{{post.reply_set.count}}</td>
        <td>{{post.creation_date|timesince}} ago</td>

    </tr>
{%endfor%}

</table>